---
const {label, title, func, src, href} = Astro.props;
import { Image } from 'astro:assets'
---

<script>
   const card = document.getElementById('cardContainer');

   let gradient = 'linear-gradient(#'+{colorHex}+' 25%, #060525 75%);'

   card.style.background = gradient;
   console.log(gradient);

</script>

<div class="item" aria-label={label} id="cardContainer">
   <div class="tagsList">

   </div>

   <!--<div>-->
   <!--</div>-->

    <div class="imgCard">

           <Image src={src} alt="Alt text"/>

   </div>
   <div class="bottomCard">
      <div class="textCard">
         <h3>{title}</h3>
         <p>{func}</p>
      </div>
      <button>
         <a href={href} target="_blank">
            <svg data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
               <path d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
         </a>
      </button>
   </div>
</div>


<style>
#cardContainer {
   background: linear-gradient(#b4c6ef, #0f0c3f 80%);

   width: 19.2rem;
   aspect-ratio: 16 /10;
   @apply rounded-lg;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
}
@media screen and (max-width: 768px) {
   #cardContainer {
      width: 80vw;
      min-width: 20rem;
   }
}

* {
   border-radius: 0.25rem;
   font-size: 1rem !important;
}

.textCard {

}

.imgCard {
   width: calc(100% - 5rem);
   height: calc(100% - 5rem);
   margin: auto;
   @apply rounded-lg;
}
.imgCard img {
   max-height: 100%;
   object-fit: cover;
   object-position: top;
}
svg {
   width: 1.5rem;
   color: #f0f1f2;
   @apply transition-colors;
}

button {
   display: grid;
   place-items: center;
   @apply transition-all;
   border: 1px solid rgba(240, 241, 242, 0.25);
   opacity: 0;

   aspect-ratio: 1;
}
#cardContainer:hover button {
   opacity: 0.5;
}

#cardContainer:hover button:hover {
   opacity: 1;
   background-color: #f0f1f2;
   color:#060525;

}
button:hover svg {
   color:#060525;
}


.tagsList {
   @apply py-2;
   @apply px-2;

   display: flex;
   flex-direction: row;
   gap: 0.35rem;
}
.tagsList .textCard {

}
.bottomCard {
   @apply p-3;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

small, h3, p {
   color: white;
}
small, p {
   font-size: 0.75rem !important;
}
p {
   opacity: 0.66;
   white-space: nowrap;
   overflow: clip;
   text-overflow: ellipsis;
   text-overflow-ellipsis: '. . .';
   width: 14rem;
}

small {
   @apply px-2;
   @apply py-1;
   font-size: 0.6rem !important;
   @apply rounded-full;
   background-color: #8aeca1;
   color: #1E1F22;
   font-weight: 600;

}
.free {
   background-color: #8abbec;
}
.inspiration {
   background-color: #b68aec;
}


</style>